/*image_compare v1.5*/

:root {
	--background-color: #31455d;
	--background-color-alpha: rgba(49,69,93, 0.8);
	--highlight-color: #46cfc0;
	--highlight-color-alpha1: rgba(70,207,192,0.9);
	--highlight-color-alpha2: rgba(70,207,192,0.2);
	--active-color:#fbaf17;
	--active_color_alpha: rgba(251, 175, 23, 0.1);
	--shadow-color: rgba(90,90,90,0.5);
	--alert-color-alpha: rgba(136,0,27, 0.7);
	--white-color: rgba(255,255,255,1);
  }


 
/* Style de la page */
body, html {
	margin: 0;
	background-color: var(--background-color);
	overflow: hidden;
	/*modifié*/
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#tableGen {
	width: 100%;
	height: 100%;
	background-color: white;
}

a:link {
    color: var(--highlight-color);
}
a:visited {
    color: var(--highlight-color);
}

#ie_avertissement {
	visibility: hidden;
	position: absolute;
	top: 40%;
	left: 35%;
	z-index: 1020;
	overflow: auto;
	font-family: "Arial";
	text-align: left;
	font-size: 120%;	
	width: 400px;
	height: auto;
	border-radius: 5px;
	padding: 5px;
	background: var(--alert-color-alpha);
	color: var(--white-color);
	box-shadow: 5px 5px 6px var(--shadow-color);
}


/* Barre supérieure */

#titre {
	background: white;
	z-index: 999;
	color: var(--background-color);
    font-family: "MontSerrat", arial;
	vertical-align: middle;
}

#logo {
	float: left;
    width: 215px;
	height: 32px;
	margin-top: 2px;
	margin-left: 30px;
	margin-right: 30px;
}

#label_titre {
	text-align: center;
	float: left;
	width: calc(100% - 600px);
	margin-top: 6px;
	font-weight: bold;
	font-size: 150%;
}

.contact {

	float: left;
}
#contact {
	width: 145px;
	float: right;
}
#contact:hover {
	background: var(--highlight-color);
}
#contact_text {
	width: 96px;
	margin-top: 9px;
	text-align: cleft;
	font-weight: bold;
	font-size: 100%;	
	vertical-align: middle;
	color: #5e5e5e;
}

.langue {
	float: right;
	width: 30px;
	height: 26px;
	padding-top : 10px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	color: #7e7e7e;
	font-size: 80%;
	font-family: "MontSerrat", arial;
}

.langue:hover {
	color: var(--white-color);
}

/* Style de la bare de menu */

#menu {
	height: 100%;
	vertical-align: middle;
	width: calc(100% - 62px);
	color: var(--white-color);
    font-family: "MontSerrat", arial;
	z-index: 1500;
	position: relative;
}
#menuTD {
	box-shadow: -60px 5px 6px var(--shadow-color);
	position: relative;
	z-index: 1200;	
	background: var(--background-color);
}

#contenuTD {
	background: var(--white-color);
}
#contenu {
	height: 100%;
	width: 100%;
}

.i {
	float: left;
	margin-left: 5px;
	margin-top: 8px;
}			 
.btnI {
	cursor: pointer;

}
.btnI:hover {
	cursor: pointer;
	background: var(--highlight-color);
	box-shadow: 2px 2px 10px var(--highlight-color-alpha1), -2px -2px 10px var(--highlight-color-alpha1) ;
}
#btnIG {
	display : none;
}
#btnID {
	display : none;	
}
#btnLG {
	display : none;
}
#btnLD {
	display : none;
}

.label_choix {
	width: 85px;
	text-align: right;
	margin-left: 5px;
	margin-top: 15px;
	margin-right: 10px;
	float: left;
	font-weight: bold;
}

#avec {
	width: 60px;
}

.opacite {
	font-weight: normal;
	font-size: 80%;
	width: 205px;
	margin-top: 15px;
	text-align:	left;
	margin-left: 10px;
	float: left;
	display : none;
}
.opaciteTexte{
	float: left;
}
.sliderOpacite {
	float: left;
    -webkit-appearance: none;
    width: 100px;
    height: 5px;
    border-radius: 5px;   
    background: #838f9e;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
	margin: 5px;
}
.sliderOpacite::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: var(--highlight-color);
    cursor: col-resize;
}
.sliderOpacite::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--highlight-color);
    cursor: col-resize;
}
.sliderOpacite::-ms-thumb {
	width: 1em;
	height: 1em;
	border-radius: 10%;
	background:  var(--highlight-color);
	cursor: col-resize;
}
.sliderOpacite::-ms-tooltip {
	display: none;                  /* supprime l'affichage de la valeur au survol */
  }

.menuChoix {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 230px;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
	background: #FFFFFF;
	border: 0;
}
.custom-combobox-toggle::before {
	content : "";
	position: absolute;
	top: .2em; bottom: .2em;
	background-color: white;
	border-left: 1px solid #496993;
	left:0;
}
/*modifié*/	
.custom-combobox-toggle:focus {
	background-color: white;
	outline: none;
	border: 0;
}
.custom-combobox-toggle:hover {
	background: var(--highlight-color);
	border: 0;
}
.ui-button .ui-icon {
	background-image: url(../img/ui-icons_777777_256x240.png);
}
.ui-button:hover .ui-icon {
	background-image: url(../img/ui-icons_777777_256x240.png);
}
.ui-menu-item-wrapper {
	width: 280px;
} 
.ui-menu-item-wrapper:hover {
	width: 280px;
	background: var(--highlight-color);
	border: 1px solid var(--highlight-color);
	box-shadow: 2px 2px 10px var(--highlight-color-alpha1), -2px -2px 10px var(--highlight-color-alpha1) ;
} 
.ui-front {
	width: 300px !important;
	border: 1px solid var(--background-color) !important;		
}
.custom-combobox-input {
    margin: 0;
	padding: 4px 4px;
} 
.ui-widget.ui-widget-content {
	z-index: 1500;
	background: white;
	font-family: "Arial";
	font-size: 90%;
	border-radius: 2px;
	border: 0;
	width: 190px;	
}
.ui-autocomplete {
    max-height: 500px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1300 !important;
}

.ui-tooltip-content {
	color: var(--background-color);
}

/* Pied de page */

#pied {
	background: var(--background-color);
	z-index: 999;
	color: var(--white-color);
    font-family: "MontSerrat", arial;
	font-size: 70%;
	vertical-align: bottom;
	padding-left: 10px;
}


/* Zone de carte */

#carte1 {
	float: left;
	width: calc(100% - 62px);
	background: #FFFFFF;	 
}

#carte2 {
	float: left;
	width:  0px;
	background: #FFFFFF;	  
}

#cursor {
    position: absolute;
    z-index: 120;
	right: 10px;
	top: 60px;
}
#croix {
		visibility: hidden;
}

.texteAttribution {
	z-index: 950;
	overflow: auto;
	bottom: 32px;
	display: none;
	position: fixed;
	height: 11px;
	border-radius: 5px;
	box-shadow: 5px 5px 6px var(--shadow-color);
	padding: 3px;
	background: var(--background-color-alpha);
	color: var(--white-color);
	font-family: "Arial";
	font-size: 60%;
}
#texteAttributionG {
	left: 10px;
	text-align: left;
}
#texteAttributionD {
	right: 70px;
	text-align: right;
}

.logoAttribution {
	z-index: 950;
	bottom: 75px;
	height: 50px;
	display: none;
	position: fixed;
	overflow: hidden;
	box-shadow: 5px 5px 6px var(--shadow-color);
}
#logoAttributionG {
	left: 10px;
}
#logoAttributionD {
	right: 70px;
	text-align: right;
}

#apercu {
	z-index: 1050;
	text-align: center;
	top: 100px;
	right: 80px;
	display: none;
	position: absolute;
	border-radius: 5px;
	border :  2px solid var(--background-color);
	box-shadow: 5px 5px 6px var(--shadow-color);
	height: 180px;
	overflow: hidden
}

#imprimerPatientez {
	z-index: 1020;
	overflow: auto;
	font-family: "Arial";
	text-align: center;
	font-size: 90%;	
	width: 350px;
	top: 48%;
	left: 40%;
	visibility: hidden;
	position: absolute;
	height: auto;
	border-radius: 5px;
	box-shadow: 5px 5px 6px var(--shadow-color);
	padding: 10px;
	background: var(--background-color-alpha);
	color: var(--white-color);
}
.progessBar {
	left: 0;
	height: 8px;
	background: var(--highlight-color);
	width: 0;
	transition: width 250ms;
	margin-top: 6px;
}
#progressG {
	bottom: 8px;
}
#progressD {
	bottom: 0;
}

#panneauPermalien {
	z-index: 1020;
	overflow: hidden;
	font-family: "Arial";
	text-align: center;
	width: 350px;
	top: 48%;
	left: 40%;
	display: none;
	position: absolute;
	height: auto;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 5px 5px 6px var(--shadow-color);
	background: var(--background-color-alpha);
	color: var(--white-color);
}
#titrePermalien {
	font-size: 110%;
	font-weight: bold;	
}
#textePermalien {
	overflow: hidden;
	font-family: "Arial";
	font-size: 90%;	
	height: auto;
	text-align: left;
	margin: 10px;
}
#URLPermalien {
	overflow: vertical;
	font-family: "Arial";
	word-wrap: break-word;	
	font-size: 80%;	
	height: auto;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	background: var(--white-color);
	color: var(--background-color);
}
#ZoneBtnPermalien {
	display: table;
	border-collapse: separate;
	border-spacing: 10px;
}
.boutonPermalien {
	cursor: pointer;
	border-radius: 4px;
	width : 100px;
	padding: 3px;
	display: table-cell;
    vertical-align: middle;
	height: 35px;
	overflow: hidden;
	font-size: 90%;	
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: var(--white-color);
	background: var(--background-color);
}
.boutonPermalien:hover {
	background: var(--highlight-color);
	border-color: var(--highlight-color);
	box-shadow: 2px 2px 10px var(--highlight-color-alpha1), -2px -2px 10px var(--highlight-color-alpha1) ;
}
#emailP a:link {
	color: var(--white-color);
	text-decoration: none;
}
#emailP a:visited {
	color: var(--white-color);
	text-decoration: none;
}
#clipboard {
	visibility: hidden;
	position : fixed;
	left : 0px;
	bottom : 0px;
	border-width: 0px;
	width : 1px;
	height: 1px;
	background:var(--background-color);
}

#zoneCoordonnees {
	bottom: 140px;
	left: 8px;
	position: fixed;
	z-index: 1000;
	background: rgba(49,69,93, 0.9);
	color: var(--white-color);
	font-family: "Arial";
	font-size: 70%;
	width: 200px;
	border-radius: 5px;
	box-shadow: 5px 5px 6px var(--shadow-color);
	display:none;
}
.txtCoord {
	text-align: left;
	margin: 5px;
	height: 12px;
}

#adresse {
    border: 2px solid var(--background-color);
    border-radius: 4px;
	background-color: white;
    background-image: url('../img/rechercher.png');
    background-position: 3px 4px; 
    background-repeat: no-repeat;
    padding-left: 30px;
	font-size: 14px;
	color: var(--background-color);
	font-family: "Arial";
	height: 25px;
	width: 400px;
	box-shadow: 5px 5px 6px var(--shadow-color);
}
#adresse:focus {
    border: 2px solid var(--highlight-color);
	border-radius: 4px;
	
}
#chercheAdresse {
	top: 100px;
	left: 60px;
	position: fixed;
    display: block;
	z-index: 998;
	height: 25px;
	padding : 1px;
}
#annul_adresse {
	top: 100px;
	z-index: 1300;	
	left: 475px;
	position: fixed;
	width: 30px;
	height: 30px;
	display : none;
}
#img_croix{
	height: auto;
	cursor: pointer;
}
#listeAdresses {
	left: 70px;
	top: 132px;
	width: 360px;
	position: fixed;
	background: rgba(49,69,93, 0.9);
	z-index: 998;
	overflow: auto;
	color: white;
	font-family: "Arial";
	height: auto;
	font-size: 90%;
	cursor: pointer;
	box-shadow: 5px 5px 6px var(--shadow-color);
	border-radius: 5px;
	padding: 5px;
	display : none;
}
.resultatAdresse:hover {
	background-color: var(--highlight-color);
	box-shadow: 2px 2px 10px var(--highlight-color-alpha1), -2px -2px 10px var(--highlight-color-alpha1) ;	
}


.ol-scale-line {
	padding: 0px;
	left: calc(100% - 230px);
	position: fixed;
	background: rgba(49,69,93, 0);
	color: white;
	font-family: "Arial";
}
.ol-scale-line-inner {
	margin: 0px;
}

.ol-control  {
	background-color: transparent;
}
.ol-control button {
	background-color: var(--background-color-alpha);
}
.ol-control button:hover {
	background-color: var(--highlight-color);
}
.ol-control button:focus {
    background-color: var(--highlight-color);
}

.ol-zoom-out {
	background-color: var(--background-color-alpha);
	box-shadow: 5px 5px 6px var(--shadow-color);
}
.ol-zoom-in {
	background-color: var(--background-color-alpha);
	box-shadow: 5px 5px 6px var(--shadow-color);
}
.ol-zoomslider {
	background: var(--background-color-alpha);
	box-shadow: 5px 5px 6px var(--shadow-color);
}
.ol-zoomslider button {
	background: var(--highlight-color-alpha1);
}
.ol-zoom-extent{
	top: 285px;
}
.ol-zoom-extent button {
	width: 26px;
	height: 26px;
	box-shadow: 5px 5px 6px var(--shadow-color);
}
.ol-zoom-extent img {
	margin: 4px 4px 4px 4px;
}

.coords {
	width: 60px;
}      

#switcher {
	display: none;
}
.switchCompare {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: calc(100% - 62px); /* Full-width */
	position: fixed;
	bottom: 55px;
	left: 0;
	z-index: 1000;
    height: 15px; /* Specified height */
    background: rgba(131,143,158,0.5); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
	margin: 0px;
	box-shadow: 5px 5px 6px var(--shadow-color);
}
/* Mouse-over effects */
.switchCompare:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge), -moz- (Firefox) and -ms-thumb (IE) to override default look*/ 
.switchCompare::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 30px;
    background: var(--highlight-color);
    cursor: col-resize;
	box-shadow: 5px 5px 6px var(--shadow-color);
}
.switchCompare::-moz-range-thumb {
    width: 20px;
    height: 30px;
    background: var(--highlight-color);
    cursor: col-resize;
	box-shadow: 5px 5px 6px var(--shadow-color);
}
.switchCompare::-ms-thumb {
  width: 20px;
  height: 30px;
  background: #46cfc0;
  cursor: col-resize;
  box-shadow: 5px 5px 6px rgba(90,90,90,0.5);
} 
.switchCompare::-ms-tooltip {
	display: none;                  /* supprime l'affichage de la valeur au survol */
  }

.tooltip {
    position: relative;
    background: var(--highlight-color-alpha1);
	border-radius: 4px;
	color: var(--white-color);
	padding: 4px 8px;
	opacity: 0.8;
	white-space: nowrap;
	font-family: "MontSerrat", arial;
}
.tooltip-measure {
	opacity: 1;
	font-weight: bold;
	font-family: "MontSerrat", arial;
}
.tooltip-static {
	background-color: var(--active-color);
	color: var(--background-color);
	font-weight: bold;
	border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
	border-top: 6px solid var(--highlight-color-alpha1);
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	bottom: -6px;
	margin-left: -7px;
	left: 50%;
}
.tooltip-static:before {
	border-top-color: var(--active-color);
}


/* Barre d'outil latérale */

#toolbar {
	background: var(--background-color);
	width: 62px;
	text-align: center;
	float:right;
	z-index: 1011;
}

.btnChoix {
	position: relative;
	height: 52px;
}
#btnAide {
	position: relative;
	height: 52px;
	display: none;
}

.btnChoix .aide_toolbar {
	visibility: hidden;
	top: 5px;
	right: 105%;
	z-index: 1002;
	overflow: auto;
	font-family: "Arial";
	text-align: left;
	font-size: 80%;
	width: 160px;
	position: absolute;
	height: auto;
	border-radius: 5px;
	padding: 5px;
	background: transparent;
	color: transparent;
	box-shadow: 0 0 rgba(90,90,90,0);
	-webkit-transition: background-color 1s, color 1s,box-shadow 1s; /* Safari */
	transition: background-color 1s, color 1s,box-shadow 1s;	
}
#aide_kiosque {
    visibility: hidden;
	background: var(--background-color-alpha);
	color: var(--white-color);
	box-shadow: 5px 5px 6px var(--shadow-color);
	top: 90px;
	right: 70px;
	width: 160px;
	height: auto;
	z-index: 1002;
	font-family: "Arial";
	text-align: left;
	font-size: 80%;
	position: absolute;
	border-radius: 5px;
	padding: 5px;
	-webkit-transition: background-color 1s, color 1s,box-shadow 1s; /* Safari */
	transition: background-color 1s, color 1s,box-shadow 1s;	
}

.btnChoix:hover .aide_toolbar {
    visibility: visible;
	background: var(--background-color-alpha);
	color: var(--white-color);
	box-shadow: 5px 5px 6px var(--shadow-color);
}

.imgChoix {
	cursor: pointer;
	margin: 5px 3px 5px 3px;
	background: tranparent;
	-webkit-transition: background 0.4s,box-shadow 0.4s; /* Safari */
	transition: background 0.4s,box-shadow 0.4s;
}

.imgChoix:hover {
	cursor: pointer;
	background: var(--highlight-color);
	box-shadow: 2px 2px 10px var(--highlight-color-alpha1), -2px -2px 10px var(--highlight-color-alpha1) ;
}

@keyframes avert_anim {
    from {background: transparent; color: transparent; box-shadow: 0 0 rgba(90,90,90,0);}
    to {background: var(--alert-color-alpha); color: var(--white-color); box-shadow: 5px 5px 6px var(--shadow-color);}
}

@-webkit-@keyframes avert_anim {
    from {background: transparent; color: transparent; box-shadow: 0 0 rgba(90,90,90,0);}
    to {background: var(--alert-color-alpha); color: var(--white-color); box-shadow: 5px 5px 6px var(--shadow-color);}
}

#tt_avertissement {
	visibility: hidden;
	position: absolute;
	right: 65px;
	z-index: 1020;
	overflow: auto;
	font-family: "Arial";
	text-align: left;
	font-size: 80%;	
	width: 160px;
	height: auto;
	border-radius: 5px;
	padding: 5px;
	background: var(--alert-color-alpha);
	color: var(--white-color);
	box-shadow: 5px 5px 6px var(--shadow-color);
}

hr {
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	color: var(--white-color);
	background-color: var(--white-color);
}

@media (hover: none) {
	a:hover { color: inherit; }
}